bin/*
src/*
!src/expression/
!src/member/
!src/nodes/
!src/reference/
!src/statement/
!src/type/
!src/ast.json
!src/CompilationUnit.java
!src/GsonTest.java
!src/HelloWorld.java
!src/input.txt
!src/Main.java
!src/MyNodeDeserializer.java
!src/Parser.jjt
!src/Root.java
!src/SimpleNode.java
